/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- ROOT VARIABLES --- */
:root {
  --fontHead: "Fraunces", serif;
  --fontBody: "Manrope", sans-serif;
  --clrPrimary: #24053e;
  --clrSecondary: #584d62;
  --clrAccent: #44ffa1;
  --clrLight: #fcf8ff;
  --clrWhite: #ffffff;

  --inspect: solid red 1px;
  --transition: 250ms ease;
}

/* --- MAIN & UTILS --- */
body {
  min-height: 100vh;
  font-family: var(--fontBody);
  background-color: var(--clrWhite);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.action-btn {
  display: block;
  width: auto;
  min-height: 60px;
  padding: 0 35px;
  font-family: var(--fontBody);
  font-size: 18px;
  font-weight: 700;
  color: var(--clrPrimary);
  background-color: var(--clrAccent);
  border: 2px solid var(--clrAccent);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: transparent;
    color: var(--clrAccent);
  }
}

.body-txt {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: var(--clrSecondary);

  @media screen and (max-width: 900px) {
    font-size: 16px;
    line-height: 28px;
  }
}

/* --- HEADER --- */
header {
  height: 80px;
  padding: 0 160px;
  background-color: var(--clrPrimary);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .logo-light {
    width: 95px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

/* --- HERO --- */
.hero {
  position: relative;
  height: 630px;
  padding: 80px 10px 0 10px;
  background-color: var(--clrPrimary);
  /* border-radius: 0px 0px 100px 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;

  & h1 {
    color: var(--clrWhite);
    text-align: center;
    font-family: var(--fontHead);
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;

    & span {
      text-decoration: 4px solid underline var(--clrAccent);
      text-underline-offset: 10px;
    }
  }

  .pattern-left {
    position: absolute;
    top: 50px;
    left: -140px;
  }

  .pattern-right {
    position: absolute;
    right: -50px;
    bottom: 250px;
  }

  @media screen and (max-width: 768px) {
    height: 450px;

    & h1 {
      font-size: 60px;
      line-height: 60px;

      & span {
        text-underline-offset: 6px;
      }
    }

    .pattern-left {
      left: -220px;
    }

    .pattern-right {
      right: -100px;
      bottom: 120px;
    }
  }

  @media screen and (max-width: 500px) {
    height: 400px;

    & h1 {
      font-size: 40px;
      line-height: 40px;

      & span {
        text-underline-offset: 4px;
      }
    }

    .pattern-left {
      display: none;
    }

    .pattern-right {
      display: none;
    }
  }
}

/* --- INFO --- */
.info-container {
  padding: 260px 160px 100px 160px;
  background-color: var(--clrLight);
  display: flex;
  gap: 40px;
  min-height: 700px;
  position: relative;

  .img-holder {
    width: 100%;
    position: absolute;
    top: -240px;
    left: 0;
    z-index: 2;
    display: grid;
    place-items: center;

    .phone-img {
      width: 750px;
    }
  }

  .info-component-wrapper {
    text-align: center;

    .number {
      margin: 0 auto;
      width: 56px;
      height: 56px;
      font-family: var(--fontHead);
      font-size: 24px;
      color: var(--clrPrimary);
      border: 1px solid var(--clrPrimary);
      border-radius: 50%;
      display: grid;
      place-items: center;
    }

    & h2 {
      margin: 60px 0 40px 0;
      font-family: var(--fontHead);
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 220px 90px 100px 90px;
    min-height: 700px;
    flex-direction: column;

    .img-holder {
      top: -120px;

      .phone-img {
        width: 480px;
      }
    }

    .info-component-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
      text-align: left;

      .number {
        margin: 0;
        min-width: 56px;
        min-height: 56px;
        font-size: 20px;
      }

      & h2 {
        margin: 0 0 35px 0;
        font-size: 28px;
        line-height: 36px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 120px 20px 100px 10px;

    .img-holder {
      top: -80px;

      .phone-img {
        width: 300px;
      }
    }

    .info-component-wrapper {
      flex-direction: column;
      text-align: center;
      gap: 0;

      .number {
        min-width: 50px;
        min-height: 50px;
      }

      & h2 {
        margin: 20px 0 20px 0;
      }
    }
  }
}

/* --- INTRODUCTION --- */
.introduction-container {
  position: relative;
  height: 820px;
  padding: 100px 160px 0 160px;

  .founder-img-holder {
    .founder-img {
      width: 477px;
    }
  }

  .test-wrapper {
    position: absolute;
    left: 540px;
    bottom: 30px;
    background-color: var(--clrPrimary);
    padding: 60px;
    width: fit-content;

    & h3 {
      font-family: var(--fontHead);
      color: var(--clrWhite);
      font-size: 56px;
      font-weight: 600;
      line-height: 64px;
    }

    & p {
      margin: 50px 0 30px 0;
      width: 600px;
      color: var(--clrWhite);
    }
  }

  @media screen and (max-width: 1300px) {
    padding: 100px 100px 0 100px;

    .founder-img-holder {
      .founder-img {
        width: 300px;
      }
    }

    .test-wrapper {
      max-width: 600px;
      left: 300px;
      bottom: 100px;

      & h3 {
        font-size: 48px;
        line-height: 56px;
      }

      & p {
        width: auto;
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding: 320px 10px 0 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .founder-img-holder {
      position: relative;
      width: 100%;
      display: grid;
      place-items: center;

      .founder-img {
        position: absolute;
        top: -250px;
        z-index: -2;
      }
    }

    .test-wrapper {
      padding: 40px 20px;
      position: static;
      max-width: 100%;
      text-align: center;

      & h3 {
        font-size: 32px;
        line-height: 48px;
      }

      & p {
        margin: 30px 0 20px 0;
      }

      & button {
        margin: 0 auto;
      }
    }
  }
}
